COMPOSE_PROJECT_NAME={{ compose_project_name }}

SECRET_KEY={{ vault_secret_key }}
PORT={{ app_port }}

CACHE_DIR=/app/cache
CACHE_TIMEOUT={{ cache_timeout }}

LOGS_DIR=/app/logs

DATA_DIR=/app/data
APP_DB_FILE={{ app_db_file }}
GRAPH_DB_FILE={{ graph_db_file }}
