UID={{ app_uid }}
GID={{ app_gid }}
DATA_DIRECTORY={{ data_directory }}
DOCKER_BACKEND_PORT={{ docker_backend_port }}
DOCKER_DB_PORT={{ docker_db_port }}
DOCKER_REDIS_PORT={{ docker_redis_port }}
DOCKER_TUSD_PORT={{ docker_tusd_port }}
DOCKER_THUMBOR_PROXY_PORT={{ docker_thumbor_proxy_port }}
THUMBOR_PROXY_HOST=https://{{ domain_image }}
THUMBOR_SECURITY_KEY={{ thumbor_secret_key }}
