<html>
<head>
    <meta charset="UTF-8">
    <title>{{ project_name }} - Delete User Data</title>
    <meta name="description" content="">
    <link rel="canonical" href="https://{{ domain }}/{{ html_file }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://{{ domain }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ project_name }} | it means kava">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://{{ domain }}/img/BilolokCover.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta property="twitter:domain" content="{{ domain }}">
    <meta property="twitter:url" content="https://{{ domain }}">
    <meta name="twitter:title" content="{{ project_name }}">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://{{ domain }}/img/BilolokCover.png">

    <style>
	body { 
	  line-height: 1.4;
	    font-size: 16px;
	    padding: 0 10px;
	    margin: 50px auto;
	    max-width: 650px;
	}

	#maincontent {
    max-width:42em;
    margin:15 auto;
	}
</style>
</head>
<body>
  <div id="maincontent" style="margin-top:70px">
    <strong>Delete User Data</strong>
    <br>
    <p>To delete user data send us an email to {{ contact_email }}.</p>
  </div>
</body>
</html>
