PROJECT_NAME={{ project_name }}
PROJECT_SLUG={{ project_name }}
SECRET_KEY={{ secret_key }}
#SENTRY_DSN=

BACKEND_CORS_ORIGINS=https://{{ domain }},https://{{ domain_upload }}

#DOMAIN={{ domain }}
SERVER_HOST=https://{{ domain }}
FRONTEND_HOST=https://{{ domain }}

#LOG_FILE_ROTATION=
#LOG_FILE_RETENTION=
#LOG_FILE_LEVEL=INFO

# TODO rename to local data directory
# TODO set external host data directory and internal backend container path variables
DATA_LOCAL_DIR={{ data_directory }}
DATA_DIRECTORY={{ data_directory}}
THUMBOR_SECURITY_KEY={{ thumbor_secret_key }}
THUMBOR_SERVER=https://{{ domain_image }}
VIDEO_SERVER=https://{{ domain_video }}

POSTGRES_SERVER=db
POSTGRES_USER={{ postgres_username }}
POSTGRES_PASSWORD={{ postgres_password }}
POSTGRES_PORT=5432
POSTGRES_DB={{ postgres_database }}

REDIS_SERVER=redis
REDIS_PORT=6379

FIRST_SUPERUSER={{ first_superuser }}
FIRST_SUPERUSER_PASSWORD={{ first_superuser_password }}

# MailJet mail configuration options
MJ_API_KEY={{ mj_api_key }}
MJ_API_SECRET={{ mj_api_secret }}

# Required email configuration
MAIL_FROM={{ mail_from }}
MAIL_FROM_NAME={{ mail_from_name }}

# Email method flags
EMAILS_ENABLED=True
EMAILS_USE_MJ=True

VAPID_PUBLIC_KEY={{ vapid_public_key }}
VAPID_PRIVATE_KEY={{ vapid_private_key }}
VAPID_MAILTO={{ vapid_mailto }}

