# made by Ansible
#
# the app was made a long time ago... 
# this design is stupid but I have to run with it for now
#
VUE_APP_ENV=production
VUE_APP_DOMAIN_PROD={{ domain }}
VUE_APP_API_DOMAIN_PROD={{ domain_api }}
VUE_APP_UPLOAD_DOMAIN_PROD={{ domain_upload }}
